

<%- include("../partials/header") %>


<div class="row">

<div class="col col-lg-4">

<div class="post-cards ">
<div class="card mb-4" >
<div class="card-body">
<h4>Trending Clucks </h4>
<hr>
  
    <h6> <%= doubleArray[0][1] %> =   <%=doubleArray[1][1]  %> </h6>
    <h6> <%= doubleArray[0][3] %>  = <%=doubleArray[1][3]  %> </h6>
    <h6> <%= doubleArray[0][2] %> = <%=doubleArray[1][2]  %> </h6>
  
    


</div>
</div>
</div>
</div>

<div class="col col-lg-8">

<div class="post-cards ">
  <% for (let cluck of clucks) { %> 
    <div class="card mb-4" >
      <div class="card-body">
        <h5 class="card-title">     </h5>
       
        <div class="row">
        <div class="col col-lg-2">
       
    
        <% if (cluck.profile_pic) { %>
        <img src= "<%= cluck.profile_pic%>" alt="..." class="rounded-circle" height="50"  >
        <% } else { %> 
        <img src= " https://pbs.twimg.com/media/CsaAYqfW8AAD2t9.jpg" alt="..." class="rounded-circle" height="50"  >
        <% }%> 
       


        </div>
        <div class="col col-lg-10">

        <b>  <%= cluck.username%>  </b>  <span>•</span>

          <% let hours = Math.floor((new Date() - cluck.createdAt) /1000/60/60);%> 
          Created <%= hours %> hours ago<br>
          <%= cluck.content %>

          <br>

          <% if (cluck.image_url) { %>
          <img
            src= "<%= cluck.image_url%>"
            alt="Card image"
            class="card-img-top"
            height="300" 
          >
        <% } %>
        </div>
          
        </div>
   
        
      </div>
    </div>
  <% } %>
</div>

</div>


<%- include("../partials/footer") %>


<script>
    
function timeSince(date) {

    const seconds = Math.floor((new Date() - date) / 1000);
  
    let interval = Math.floor(seconds / 31536000);
  
    if (interval > 1) {
      return interval + " years";
    }
    interval = Math.floor(seconds / 2592000);
    if (interval > 1) {
      return interval + " months";
    }
    interval = Math.floor(seconds / 86400);
    if (interval > 1) {
      return interval + " days";
    }
    interval = Math.floor(seconds / 3600);
    if (interval > 1) {
      return interval + " hours";
    }
    interval = Math.floor(seconds / 60);
    if (interval > 1) {
      return interval + " minutes";
    }
    return Math.floor(seconds) + " seconds";
  }
  const aDay = 24*60*60*1000
 

</script>